.v-card {
  border-radius: 7px !important;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.09) !important;
}

.v-card.v-card--flat {
  box-shadow: none !important
}

.v-dialog {
  border-radius: 7px !important;
  margin: 10px !important
}

.dim-title {
  margin-left: -24px !important
}

.fade-enter-active {
  animation: fade 0.5s
}

.card-enter {
  animation: card 0.4s
}

.v-toolbar {
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.1), 0px 4px 5px 0px rgba(0, 0, 0, 0.02), 0px 1px 10px 0px rgba(0, 0, 0, 0.1) !important
}

@keyframes fade {
  from {
    color: rgba(39, 39, 39, 0);
  }
  to {
    color: rgb(32, 32, 32);
  }
}

@keyframes card {
  from {
    opacity: 0;
    transform: translateY(10px)
  }
  to {
    opacity: 1;
    transform: translateX(0px)
  }
}

@media only screen and (max-width: 959px) {
  .dim-title {
    margin-left: -16px !important
  }
}