.v-card {
  border-radius: 7px !important;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.09) !important;
}

.v-card.v-card--flat {
  box-shadow: none !important
}

.theme--dark.v-list {
  background: transparent !important
}

.v-dialog {
  border-radius: 7px !important;
  margin: 10px !important
}

.v-list__tile__avatar {
  min-width: 30px !important;
}

.v-list__tile__content {
  min-width: 70px;
  padding-left: 5px
}

.v-card__title {
  padding: 12px 16px !important
}

.v-tabs__item.v-tabs__item--active {
  color: #f4511e !important
}

.fade-enter-active {
  animation: fade 0.5s
}

.card-enter {
  animation: card 0.4s
}

.v-toolbar {
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.1), 0px 4px 5px 0px rgba(0, 0, 0, 0.02), 0px 1px 10px 0px rgba(0, 0, 0, 0.1) !important
}

.v-toolbar.elevation-0 {
  box-shadow: none !important
}

.count-down {
  background-color: rgb(112, 112, 112);
  color: white;
  padding: 1px 4px;
  border-radius: 5px
}

.route_list {
  height: calc(100vh - 64px);
  overflow: auto
}

@keyframes fade {
  from {
    color: rgba(39, 39, 39, 0);
  }
  to {
    color: rgb(32, 32, 32);
  }
}

@keyframes card {
  from {
    opacity: 0;
    transform: translateY(10px)
  }
  to {
    opacity: 1;
    transform: translateX(0px)
  }
}

.detail-tab {
  height: calc(100vh - 212px);
  overflow: auto
}

.v-stepper__items {
  height: calc(100vh - 136px);
  overflow: auto !important
}

@media only screen and (max-width: 959px) {
  .dim-title {
    margin-left: -px !important
  }
  .detail-tab {
    height: calc(100vh - 122px);
    overflow: auto
  }
  .v-stepper__items {
    height: calc(100vh - 72px);
    overflow: auto !important
  }
  .route_list {
    height: calc(100vh);
    overflow: auto
  }
}